[submodule "depend/glm"]
	path = depend/glm
	url = https://github.com/g-truc/glm.git
	branch = 0.9.8
[submodule "depend/glfw"]
	path = depend/glfw
	url = https://github.com/glfw/glfw
	branch = tags/3.2.1
[submodule "depend/openal"]
	path = depend/openal
	url = https://github.com/kcat/openal-soft
	branch = master
[submodule "depend/assimp"]
	path = depend/assimp
	url = https://github.com/assimp/assimp
[submodule "depend/sol2"]
	path = depend/sol2
	url = https://github.com/ThePhD/sol2
[submodule "depend/lua"]
	path = depend/lua
	url = https://github.com/LuaDist/lua
	branch = lua-5.3
